body {
  font-family: Arial, sans-serif;
  background-color: #f5cece;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10px;
}

.container {
  margin: 5% !important;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

input,
textarea {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background: #4f835d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card {
  background: #f3e7e7;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
}

.card h3 {
  margin: 0;
  font-size: 18px;
}
.card h5 {
  margin: 0;
  font-size: 13px;
}

.card p {
  margin: 5px 0 0;
  font-size: 14px;
}
